body {
    font-family:arial, sans-serif;
    text-align:center;
    background-color: darkcyan;
}

#heading {
    margin-top : 20px;
    color : #333
}
#heading:hover{
    color:cornflowerblue;
}

.game-container{
    display:grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap:5px;
    margin:30px auto;
    width : max-content;
    background-color: cyan;
    
}

.cell {
    background-color:white;
    border :2px solid #333;
    display :flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    font-weight:bold;
    cursor:pointer;
}

.cell:hover {
    background-color : #e6e6e6;

}

#status {
    font-size:1.2rem;
    margin-bottom:20px;
}

#restart {
    background-color: #4caf50;
    color:white;
    border:none;
    padding:10px 20px;
    font-size: 1rem;
    cursor: pointer;

}

#restart:hover{
    background-color: #45a049;

}